 
   /* .title { 
      color: blueviolet;     
      
   }




   .title{ 
      color: brown;
   }

   #another {
      color: aqua;                
   }

   span {
      color: blanchedalmond;
   } */


